[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
beautifulsoup4 = "*"
redis = "*"
pymongo = "*"
click = "*"
isort = "*"

[dev-packages]
pytest-mock = "*"
isort = "*"
pytest = "*"
flake8 = "*"
setuptools = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
